/* *** TODO: Put your CSS styles here to make the web application look nice *** */
/* With help from http://getbootstrap.com/examples/app/ */

body {
    padding-bottom: 200px;
  }
  
  @media (min-width: 990px) {
    .container {
      width: 720px;
    }
  }
  
  .app-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .app-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
  }
  
  .app-description {
    font-size: 20px;
    color: #999;
  }
  
  .app-main {
    font-size: 18px;
    line-height: 1.5;
  }

  .button {
      margin-left: 20px;
  }
  
  .app-post {
    margin-bottom: 60px;
  }

  * {
    box-sizing: border-box;
  }